:root {
  --ds-blue: #0b5166;
  --ds-blue-light: #226d84;
  --ds-yellow: #eeb962;
  --ds-yellow-dark: #ffcd5f82;
  --green: #17c5a6;
  --green-dark: #12967f;
  --blue-light: #64b5f6;
  --blue: #2196f3;
  --blue-dark: #1976d2;
  --teal-light: #4db6ac;
  --teal: #009688;
  --teal-dark: #00796b;
  --red-light: #e57373;
  --red: #f44336;
  --red-dark: #d32f2f;
  --yellow-light: #fff176;
  --yellow: #ffeb3b;
  --yellow-dark: #fbc02d;
  --grey-light: #e0e0e0;
  --grey: #9e9e9e;
  --grey-dark: #616161;

  --ds-header-height: 50px;
  --ds-progress-height: 4px;
  --fsize: 14px;
  --text-color: #495057;
}
html {
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Gotham Light' !important;
  color: var(--text-color) !important;
  font-size: var(--fsize);
  overflow-x: hidden;
  overflow-y: hidden !important;
  height: 100%;
  width: 100%;
  margin: 0;
}

#app {
  position: relative;
  min-width: 320px !important;
  width: 100%;
  height: 100%;
}
#app .ds-show-after {
  position: relative;
  height: inherit;
}

.ds-gradient {
  background: var(--ds-blue);
  background: linear-gradient(180deg, var(--ds-blue-light) 0%, var(--ds-blue) 100%) no-repeat fixed center;
}

.ds-show-after, .ds-hidden {
  display: none;
  -webkit-transition: opacity 150ms ease-in-out;
  -moz-transition: opacity 150ms ease-in-out;
  -ms-transition: opacity 150ms ease-in-out;
  -o-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
  opacity: 0;
}


/*=============== CUSTOM BOOTSTRAP ===============*/
.container {
  position: relative;
  padding: 1.25rem;
  margin: 0 auto;
}
.container.container-transparent {
  background: rgba(255, 255, 255, .4);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 3px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  margin-top: 9vh;
  border-radius: .25rem;
  color: var(--ds-blue);
  font-size:18px
}
.btn, label, .table, a {
  color: inherit;
}
.nav {
  width: 100%;
  height: 100%;
}
.nav .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.nav .nav-item a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.nav-item .active {
  color: var(--ds-yellow);
}
.nav-item {
  color: var(--ds-yellow);
}
.nav a h4 {
  margin: 0;
}

.modal-open {
  padding-right: 0px !important;
}

.btn {
  padding: .375rem 1.70rem;
}
.btn-primary {
  background-color: var(--ds-blue-light);
  border-color: transparent;
}
.btn-primary:hover {
  background-color: var(--ds-blue);
  border-color: transparent;
}
.form-control {
  transition: all 0.3s ease;
}
.input-group {
  margin-bottom: 0.5rem;
}
.form-group label {
  margin-bottom: 0.2rem;
}
.form-control:focus {
  border-color: #bfd9ff;
  box-shadow: 0 0 0 0.085rem rgba(119, 148, 255, 0.29);
}
.form-control.invalid:focus {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-bottom: 4px solid;
  border-bottom-color: #f5c6cb;
}
.input-group-prepend {
  width: 45px;
}
.input-group-text {
  padding: 0;
  width: 100%;
  justify-content: center;
}
ul:not(.browser-default)>li {
  list-style-type: none;
}
[class*="col"] .form-group {
  position: relative;
}
.btn.focus, .btn:focus {
  box-shadow: unset;
}

/*=============== MATERIALIZE ===============*/
.light {
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}
h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}
b, strong {
  font-weight: bold;
}

/*=============== DATASIGH ===============*/
/* -- loader*/
[class*="-disabled"] {
  cursor: no-drop;
  pointer-events: none!important;
}
[class*="-disabled"] *:not(img):not(.background) {
  opacity: .55!important;
}
[class*="with-loader"] {
  position: relative;
}
[class*="with-loader"]::after {
  content: '';
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  box-sizing: border-box;
  position: absolute;
  border: 3px solid;
  border-radius: 50%;
  border-top-color: var(--ds-blue);
  border-right-color: rgba(0,0,0,.0);
  border-bottom-color: rgba(0,0,0,.0);
  border-left-color: rgba(0,0,0,.0);
  animation: spin .6s linear infinite;
  z-index: 1040;
}
[class*="with-loader-shimmer"]::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  border-radius: 0;
  background: #e9ecef;
  background: linear-gradient(to right, #e9ecef 10%, #d2d5d8 18%, #e9ecef 33%);
  background-size: 100%;
  animation: placeHolderShimmer 1s linear infinite;
  z-index: 1040;
  color: inherit;
}
.btn[class*="with-loader"]::after {
  border-top-color: inherit;
}

button.btn:focus{
  box-shadow: none;
}
button h1, button h2, button h3, button h4, button h5, button h6 {
  margin: 0;
}

/* -- utils classes*/
.ds-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(55, 58, 60, 0.65);
}
.center .col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.noselect, .noselect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.right {
  float: right;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* -- components*/

/* HEADER */
.ds-header .btn-icon:hover, .ds-header .btn-icon:hover * {
  color: var(--ds-yellow) !important;
}
.ds-header {
  box-shadow: -0.1px 8px 17px rgba(0,0,0,0.13);
  -moz-user-select: none;
  -webkit-user-select: none;
}
.ds-header span, .ds-header a {
  font-size: 98%;
  color: #ffffff;
  user-select: none;
  position: relative;
}
.ds-header label {
  margin: 0;
}
.ds-header .ds-header-content {
  background-color: var(--ds-blue);
  height: var(--ds-header-height);
  color: #f3f3f3;
  position: relative;
  overflow: visible;
}
.ds-header .ds-left, .ds-header .ds-middle, .ds-header .ds-right {
  height: 50px;
  position: absolute;
  top: 0
}
.ds-header .ds-left, .ds-header .ds-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ds-header .ds-left .logo {
  width: 206px;
  margin-left: 7px;
}
.ds-header .ds-left ul {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ds-header .ds-left ul li {
  padding: 0;
}
@media all and (max-width: 500px) {
  .ds-header [class*="ds-logo"].compact {
    width: 40px;
    min-width: 40px;
    background-size: 485%;
    background-position-x: 5px;
  }
}
.ds-header .ds-middle {
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  width: 100%;
  max-width: 520px;
}
.ds-header .ds-right {
  right: 1rem;
}
.ds-header p {
  margin: 0;
  font-size: 84%;
  line-height: 1.3;
}
.ds-header ul {
  padding: 0;
}
.ds-header .ds-middle .tabs {
  width: 100%
}

/* MAIN */
.ds-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100% !important;
  min-height: 100% !important;
}

.ds-main-left {
  position: relative;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-property: background-color,box-shadow,margin;
  transition-property: background-color,box-shadow,margin;
  -webkit-transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
  transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
  min-height: 100%;
  margin-left: -170px;
}
.ds-main-left a span {
  color: transparent;
}
.ds-main-left.active a span {
  color: #fff;
}
.ds-main-left.active {
  margin-left: 0;
}
@media (max-width: 1400px) {
  .ds-main-left {
    margin-left: -170px;
  }
}
@media (max-width: 500px) {
  .ds-main-left {
    margin-left: -220px;
  }
}
.ds-main-left .ds-menu {
  max-width: 220px !important;
  min-width: 220px !important;
}
.ds-main-left .ds-menu a.active {
  background-color: #0d607b;
}
.ds-main-left .ds-menu a {
  position: relative;
  padding: 0;
}
.ds-main-left .ds-menu a.btn-icon div {
  position: absolute;
  height: 100%;
  width: 50px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ds-main-left {
  background-color: var(--ds-blue);
  color: #fff;
}

.ds-main-left .ds-menu a:hover {
  color: var(--ds-yellow);
  text-decoration: none;
}

.ds-main-left.active .ds-menu a:hover span {
  color: var(--ds-yellow);
  text-decoration: none;
}

.ds-main-left .ds-menu a.btn-icon span {
  position: relative;
  height: 100%;
  width: 175px;
  padding: 15px 0 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ds-main-left .ds-menu-title {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-size: 18px;
  -moz-user-select: none;
  -webkit-user-select: none;
}


.ds-main-middle {
  overflow: hidden;
  width: 100%!important;
  float: left;
  padding: 15px;
  min-height: 100%;
}

.ds-header + .ds-main .ds-main-middle {
  max-height: calc(100vh - var(--ds-header-height));
  overflow-y: auto;
  overflow-x: hidden;
}

.ds-main-right {
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-property: min-width,width;
  transition-property: min-width,width;
  -webkit-transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
  transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
  float: left;
  min-height: 100%;
}


/* LOGO */
.ds-logo {
  background: url(https://mf.srv.br/cdn/images/datasigh_fundo_transp.png) no-repeat center;
}
.ds-logo-inverso {
  background: url(https://mf.srv.br/cdn/images/datasigh_fundo_transp_inverso.png) no-repeat center;
}
.logo {
  background-size: 95%;
  min-width: 200px;
  min-height: 50px;
  max-height: 120px;
  margin: 0 auto;
}
.logo.small {
  height: 50px;
}

/* ICONS */
.i-btn {
  padding: 5px;
  cursor: pointer;
  transition: 150ms color ease;
}
.i-btn:hover {
  color: var(--ds-yellow);
}
.btn-icon {
  width: 100%;
  text-decoration: none !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* ALERT */
.ds-alert {
  max-width: 400px;
  min-width: 200px;
  position: fixed;
  top: 60px;
  right: 0;
  opacity: 0;
  border-radius: 2px;
  margin-top: 5px;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  background-color: #323232;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}
.ds-alert.success {
  background-color: var(--green);
}
.ds-alert.info {
  background-color: var(--blue);
}
.ds-alert.warning {
  background-color: var(--yellow);
  color: var(--text-color);
}
.ds-alert.error {
  background-color: var(--red);
  color: #fff;
}
.ds-alert[class*="active-"] {
  animation-fill-mode: forwards;
}
.ds-alert.active-5 {
  animation: showAlertDesktop 5s ease;
}
.ds-alert.active-10 {
  animation: showAlertDesktop 10s ease;
}


ul {
  height: 100%;
  width: auto;
  margin: 0;
}
ul > li {
  float: left;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
ul > li:not(.ds-dropdown) {
  cursor: pointer;
}

/* DROPDOWN */
#ds-dropdown {
  padding: 0 1rem;
  height: 100%;
  width: 100%;
  text-decoration: none;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ds-dropdown:focus + .ds-dropdown-container, #ds-dropdown:hover + .ds-dropdown-container, .ds-dropdown-container:hover {
  transform: translate3d(0, 0, 0);
}
.ds-dropdown-container {
  position: fixed;
  top: var(--ds-header-height);
  width: 200px;
  right: 0;
  background-color: var(--ds-blue);
  color: #ffffff;
  transition: 150ms all ease-in-out;
  transform: translate3d(200px, 0, 0);
  z-index: 1000;
  border-bottom-left-radius: 5px;
  box-shadow: -0.1px 8px 17px rgba(0,0,0,0.13);
}

/* FORMULARIOS */
form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form input.invalid {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-bottom: 4px solid;
  border-bottom-color: #f5c6cb;
}
form input.invalid + small.input-helper {
  position: absolute;
  right: 5px;
  top: 52%;
  text-align: center;
  display: block;
  color: #721c24;
}
form small.input-helper {
  display: none;
}

input.invalid:-webkit-autofill,
input.invalid:-webkit-autofill:hover, 
input.invalid:-webkit-autofill:focus,
textarea.invalid:-webkit-autofill,
textarea.invalid:-webkit-autofill:hover,
textarea.invalid:-webkit-autofill:focus,
select.invalid:-webkit-autofill,
select.invalid:-webkit-autofill:hover,
select.invalid:-webkit-autofill:focus {
  -webkit-text-fill-color: #721c24;
  -webkit-box-shadow: 0 0 0px 1000px #f8d7da inset;
  box-shadow: 0 0 0px 1000px #f8d7da inset;
}

small.input-helper-password {
  position: absolute;
  right: 5px;
  top: 19%;
  text-align: center;
  display: block;
  color: inherit;
  z-index: 100;
  cursor: pointer;
}

form.ds-login .btn {
  width: 50%;
}

form .btn-block {
  margin: 0 auto;
}


button.selectable.active::after {
  width: 100%;
}
button.selectable::after {
  content: '';
  position: absolute;
  background-color: #17c5a6;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 300ms ease;
}

/* OUTROS */
.ds-login {
  margin: 15vh auto 0 auto;
  max-width: 420px;
  width: 100%;
  text-align: center;
}
.ds-login form button {
  width: 50%;
}
.ds-login .btn {
  background-color: #17c5a6;
  color: #ffffff;
  transition: all 0.3s ease;
}
.ds-login .btn:hover {
  background-color: #12967f;
}
form .btn.with-loader-disabled {
  color: transparent !important;
}
form .btn.with-loader-disabled::after {
  border-top-color: var(--text-color);
}
form.ds-login .btn.with-loader-disabled::after {
  border-top-color: #fff;
}

.ds-table {
  height: 100%;
  margin: 0;
}
.ds-table li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px;
}
.ds-table li > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ds-table li > div.select {
  overflow: visible;
}
.ds-table li:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.3);
}

table th, table tr {
  position: relative;
}

table .i-btn {
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
}

.alerta {
  animation-name: alerta;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.ds-progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  margin: 0;
  overflow: hidden;
}
.ds-progress .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #26a69a;
  -webkit-transition: width .3s linear;
  transition: width .3s linear;
}
.ds-bar.determinate.ds-bar-timer {
  width: 0;
}
.ds-bar.determinate.ds-bar-timer.active {
  animation-name: widthStrech;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.ds-bar.indeterminate.inactive {
  animation: unset;
}

.ds-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 340px;
}

.switch__container {
  float: left;
  margin-right: 15px;
}
.switch {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px;
}
.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.switch--shadow + label {
  padding: 2px;
  width: 46px;
  height: 22px;
  background-color: #dddddd;
  border-radius: 22px;
  margin: 0;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 30px;
  transition: background 0.4s;
}
.switch--shadow + label:after {
  width: 20px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
  background-color: #8ce196;
}
.switch--shadow:checked + label:after {
  transform: translateX(24px);
}

.fadeIn {
  animation: fadeIn 150ms ease forwards;
}

/*=============== KEYFRAMES ===============*/
@keyframes spin   {to {transform: rotate(360deg)}}
@keyframes widthStrech {100% {width: 100%}}
@keyframes alerta  {50% {background-color: #ff6b6b}}
@keyframes placeHolderShimmer{0%{background-position: -500px 0}100%{background-position: 500px 0}}
@keyframes showAlertDesktop {
  0% {
    display: none;
    opacity: 0;
    right: -200px;
  }
  1% {
    display: block;
    opacity: 0;
    right: -200px;
  }
  5% {
    display: block;
    opacity: 0.9;
    right: 10px;
  }
  80% {
    display: block;
    opacity: 0.9;
    right: 10px;
  }
  90% {
    display: block;
    opacity: 0.9;
    right: 5px;
  }
  99% {
    display: block;
    opacity: 0;
    right: -200px;
  }
  100% {
    display: none;
    opacity: 0;
    right: -200px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none;
  }
  1% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

body.with-menu [id*="modal-"] .card {
  left: calc(50% + 25px);
}

/*=============== @MEDIA ===============*/
@media (min-width: 767px) {
  [class*="col"][class*="-12"] form .btn {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 767px) {
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 20px;
  }
  .far.i-small, .fas.i-small, .fab.i-small {
    font-size: 18px;
  }
  button i {
    font-size: 38px;
  }
  .ds-alert {
    top: 5px;
  }
  body.with-menu [id*="modal-"] .card {
    left: calc(50% + 25px);
    width: 90%;
  }
}
@media all and (max-width: 600px) {
  .card .card-content {
    padding: 12px;
  }
}
@media all and (max-width: 500px) {
  .container {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .ds-login {
    margin: 1rem auto 0 auto;
  }
  body.with-menu [id*="modal-"] .card {
    left: 50%;
    width: 100%;
  }
}
@media all and (max-width: 400px) {
  .card .card-content {
    padding: 0;
  }
  .ds-login {
    width: 95%;
  }
  .ds-login .ds-logo {
    width: 55%;
  }
  .ds-login .card .card-content {
    padding: 12px;
  }
}


/*=============== FALTA ORGANIZAR ===============*/
[type="radio"]:not(:checked), [type="radio"]:checked {
  position: relative;
  opacity: 1;
}

[id*="modal-"] {
  display: none;
}

[id*="modal-"] .card {
  width: 100%;
  max-width: 700px;
  min-width: 300px;
  min-height: 365px;
  max-height: 70vh;
  z-index: 10500;
  position: fixed;
  top: 7vh;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  padding: 0;
  background-color: #0b5166;
  color: #f3f3f3;
  overflow: hidden;
}

.modal-header span {
  margin-left: 9px;
}

.modal-header i {
  margin-right: 3px;
}

.modal-body {
  padding: 30px;
  height: calc(70vh - 35px);
  overflow: hidden;
}

.far, .fas, .fab {
  font-size: 24px;
}

.far.md-18, .fas.md-18, .fab.md-18 { font-size: 18px; }
.far.md-24, .fas.md-24, .fab.md-24 { font-size: 24px; }
.far.md-36, .fas.md-36, .fab.md-36 { font-size: 36px; }
.far.md-48, .fas.md-48, .fab.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.far.md-dark, .fas.md-dark, .fab.md-dark { color: rgba(0, 0, 0, 0.54); }
.far.md-dark.md-inactive, .fas.md-dark.md-inactive, .fab.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.far.md-light, .fas.md-light, .fab.md-light { color: rgba(255, 255, 255, 1); }
.far.md-light.md-inactive, .fas.md-light.md-inactive, .fab.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@font-face {
font-family: 'Gotham Light';
font-style: normal;
font-weight: normal;
src: local('Gotham Light'), url('../fonts/GothamLight.woff') format('woff');
}