html, body {
  background-color: #f0f0f0;
}

.ds-logo-local {
  background: url(../datasigh/images/datasigh_fundo_transp_inverso.png) no-repeat center;
  background-size: 95%;
	min-width: 200px;
  min-height: 50px;
  max-height: 120px;
  margin: 0 auto;
}

/* RESOLUÇÃO MINIMA DAS CLINICAS */
@media all and (max-width: 1300px) {
  .card-body {
    padding: 0.5rem;
  }
}

/* TABLET */
@media all and (max-width: 993px) {

}

/* TABLET SMALL */
@media all and (max-width: 767px) {

}

/* SMARTPHONE */
@media all and (max-width: 490px) {
  .ds-logo-local {
    background: url(../datasigh/images/datasigh_icone_inverso.png) no-repeat center;
    background-size: 95%;
    min-width: 30px;
    height: 50px;
    margin: 0 auto;
  }
}